<!DOCTYPE html>

<body [ngClass]="bodyCss">
    <form class="form" [formGroup]="CustomerForm">
        <br>
        <div class="container-fluid p-3 w-75" [ngSwitch]="header">
            <div class="updateCss text-white p-3 text-center" *ngIf="header?.toLowerCase()=='edit'">
                <h3 class="mb-2 text-uppercase align-middle">User Update Here</h3>
            </div>
            <div class="deleteCss text-white p-3 text-center" *ngIf="header?.toLowerCase()=='delete'">
                <h3 class="mb-2 text-uppercase align-middle">User Stop Service Here</h3>
            </div>
            <div class="viewCss text-white p-3 text-center" *ngIf="header?.toLowerCase()=='view'">
                <h3 class="mb-2 text-uppercase align-middle">User Detail</h3>
            </div>
            <div class="shadow-lg p-3 mb-5 bg-white rounded ">
                <div class="registrationCss text-dark p-3 text-center" *ngIf="header?.toLowerCase()=='register'">
                    <h3 class="mb-2 text-uppercase align-middle">User Registration Here</h3>
                </div>
                <div class="row">
                    <div class="form-floating  col">
                        <!-- <input type="number" id="customerId" formControlName="customerId"> -->
                        <label for="firstName" class="labelCss">First Name</label>
                        <input type="text" class="form-control" id="firstName" required formControlName="firstName">
                        <!-- <div *ngIf="CustomerForm.dirty.valueOf('firstName')">
                            <small *ngIf="firstName.errors.required">First Name is required.</small>
                          </div> -->
                    </div>
                    <div class="form-floating col">
                        <label for="middleName" class="labelCss">Middle Name</label>
                        <input type="text" class="form-control" id="middleName" formControlName="middleName">
                    </div>
                    <div class="form-floating  col">
                        <label for="lastName" class="labelCss">Last Name</label>
                        <input type="text" class="form-control" id="lastName" formControlName="lastName">
                    </div>
                </div>

                <div class="row">
                    <div class="form-floating col">
                        <!-- Country Dropdown -->
                        <label for="country">Select Country:</label>
                        <select class="form-control" formControlName="country" id="country"
                            (change)="fetchStates($event)">
                            <option value="">Select Country</option>
                            <option *ngFor="let country of countries"
                                [value]="country.geonameId +','+country.countryName ">
                                {{ country.countryName }}
                            </option>
                        </select>
                    </div>

                    <div class="form-floating col">
                        <!-- State Dropdown -->
                        <label for="state">Select State:</label>
                        <select class="form-control" formControlName="state" id="state" (change)="fetchCities($event)">
                            <option value="">Select State</option>
                            <option *ngFor="let state of states" [value]="state.adminCode1 + ',' + state.countryCode">{{
                                state.name }}</option>
                        </select>
                    </div>

                    <div class="form-floating col">
                        <!-- City Dropdown -->
                        <label for="district">Select City:</label>
                        <select class="form-control" formControlName="district" id="district">
                            <option value="">Select City</option>
                            <option *ngFor="let city of cities"
                                [value]="city.countryName + ',' + city.adminName1 +',' + city.name">{{ city.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating  col">
                        <label for="Email" class="labelCss">Email</label>
                        <input type="text" class="form-control" id="Email" formControlName="email">
                    </div>
                    <div class="form-floating col">
                        <label for="Contact" class="labelCss">Contact</label>
                        <input type="text" class="form-control" id="Contact" formControlName="contact">
                    </div>
                </div>
                <div class="row">
                    <div class="form-floating col">
                        <label for="PhyAddress" class="labelCss">Phy.Address</label>
                        <input type="text" class="form-control" id="PhyAddress" formControlName="phyAddress">
                    </div>
                    <div class="mb-3 form-floating col">
                        <label class="labelCss">Gender</label>
                        <div class="d-flex">
                            <div class="form-check">
                                <input type="radio" id="Male" formControlName="gender" class="form-check-input"
                                    value="male">
                                <label for="Male" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="Female" formControlName="gender" class="form-check-input"
                                    value="female">
                                <label for="Female" class="form-check-label">Female</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="Transgender" formControlName="gender" class="form-check-input"
                                    value="transgender">
                                <label for="Transgender" class="form-check-label">Transgender</label>
                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="form-floating col">
                        <input type="hidden" class="form-control" id="customerId" formControlName="customerId">
                        <input type="hidden" class="form-control" id="action" formControlName="action">
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-center ">
                    <div class="">
                        <button type="submit" class="btn btn-success text-uppercase" (click)="CustomerAction()"
                            *ngIf="header=='register'">Save</button>
                        <button type="submit" class="btn btn-success text-uppercase" (click)="CustomerAction()"
                            *ngIf="header=='edit'">Update</button>
                        <button type="submit" class="btn btn-success text-uppercase" (click)="CustomerAction()"
                            *ngIf="header=='delete'">Deactive</button>
                    </div>
                    <div class="ml-1">
                        <button class="btn btn-danger text-uppercase" (click)="RemoveInformation()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>