<div class="container-fluid p-3 w-50">    
        <h1 class="header text-white text-uppercase align-middle text-center fw-bold">Welcome To Store</h1>
</div>
<div class="container-fluid card-group col-md-9">
    <div class="card shadow-lg" style="border-radius: 20px;">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwyfgakGunTaVwDsHUcgjfaSpQN7EsnjYsVA&s" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card ml-1" style="border-radius: 20px;">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSREIARfxSc93_fo4pWnbmrEqogSTUdZ3k53Q&s" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card ml-1" style="border-radius: 20px;">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://m.media-amazon.com/images/I/61kBRuYl3vL._AC_UF1000,1000_QL80_.jpg" class="img-fluid" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">View</a>
        </div>
    </div>
</div>