<div class="container-fluid p-3 w-50">
    <h1 class="header text-white text-uppercase align-middle text-center fw-bold">Welcome To Store</h1>
</div>
<div class=" container-fluid card-group col-md-10 shadow-lg">
    <div class="card ml-1">
        <div class="card-header">Buiscuit</div>
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://cdn.grofers.com/cdn-cgi/image/f=auto,fit=scale-down,q=70,metadata=none,w=900/app/assets/products/sliding_images/jpeg/deab03b6-12cf-4a3d-b90c-168afb67c9a5.jpg?ts=1723793684"
                class="img-fluid card-img-top" />
            <a>
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Parle-G</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <button class="btn btn-primary" (click)="OpenModal()">View</button>
        </div>
    </div>

    <div class="card ml-1">
        <div class="card-header">Buiscuit</div>
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://cdn.mafrservices.com/sys-master-root/h11/h01/49487020982302/1019357_main.jpg?im=Resize=1700"
                class="img-fluid card-img-top" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Vita Marie Gold</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card ml-1">
        <div class="card-header">Buiscuit</div>
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxVAZyc5oktrOC51dvghffF6wZxHuEoebjcS5DPd9jjGfyNdfakqVxFRkJfatgiY_sdBg&usqp=CAU"
                class="img-fluid card-img-top" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Vita Marie Gold</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card ml-1">
        <div class="card-header">Buiscuit</div>
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://m.media-amazon.com/images/I/61kBRuYl3vL._AC_UF1000,1000_QL80_.jpg"
                class="img-fluid card-img-top" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">View</a>
        </div>
    </div>
</div>
<br>
<div class=" container-fluid card-group col-md-10 shadow-lg">
    <div class="card ml-1">
        <div class="card-header">Buiscuit</div>
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://kiasumart.com/wp-content/uploads/2024/04/Parle-Bourbon-70g-Doubt-600x600.png"
                class="img-fluid card-img-top" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Parle-G</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card ml-1">
        <div class="card-header">Buiscuit</div>
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://5.imimg.com/data5/IF/YB/VA/SELLER-32943822/monaco-biscuit-1000x1000.jpg"
                class="img-fluid card-img-top" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Vita Marie Gold</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card ml-1">
        <div class="card-header">Buiscuit</div>
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://m.media-amazon.com/images/I/61kBRuYl3vL._AC_UF1000,1000_QL80_.jpg"
                class="img-fluid card-img-top" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Vita Marie Gold</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">View</a>
        </div>
    </div>

    <div class="card ml-1">
        <div class="card-header">Buiscuit</div>
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <img src="https://m.media-amazon.com/images/I/61kBRuYl3vL._AC_UF1000,1000_QL80_.jpg"
                class="img-fluid card-img-top" />
            <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#!" class="btn btn-primary">View</a>
        </div>
    </div>
</div>
<br>

<ng-template #dynamicTemplate>
    <app-commonview [modalRef]="modalRef"></app-commonview>
</ng-template>